.Maincontainer {
    display: block;
    justify-content: center;
    margin: 0 auto;
    margin-top: 8rem;
    border: 2px solid;
    width: 75%;

}

.form-input {
    font-size: 6rem;
    text-align: center;
}

.dropdown {
    margin-left: 5rem;
    margin-bottom: 4rem;
}

.btn1 {
    background-color: orange;
    color: black;
    margin: 0 auto;
    padding: 0.5em;
    font-size: 2.5rem;
    border: 0 solid;
    width: 100%;
}

.btn1:hover {
    color: white;
    transition: 1.5s;
    background-color: red;
}

@media (max-width: 960px) {
    .form-input {
        font-size: 3rem;
        text-align: center;
    }
}